<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Factorial Generator</title>
    <script src="../angular-1.8.2/angular.min.js"></script>
	<script>
        var myApp = angular.module('myApp', []);
        myApp.controller('myctrl', function($scope) {
            $scope.num = null;
            $scope.result = null;
            $scope.factorial = function() {
                var num = $scope.num;
                var result = 1;
		
                for (var i = 2; i <= num; i++) {
                    result *= i;
                }
                $scope.result = result;
            }
            });
    </script>
</head>
<body ng-controller="myctrl">
	<h2>Factorial</h2>
	<p>Enter a number to calculate its factorial:</p>
	<input type="number" ng-model="num">
	<button ng-click="factorial()">Calculate</button>
	<p ng-if="result !== null">The factorial of {{num}} is {{result}}.</p>
</body>
</html>
